<div class="container">
  <div class="col-sm-6" style="float: left;">
    </br>
    </br>
    </br>
    </br>
    <div id="logo"><img src="/images/logo.png"></div>
    <!--<p style= "color: white;">add logo this div<p>-->
  </div>
  <div style="font-size: 50px;">
    </br>
    <h2 style= "color: white;"> SmartNet is a user friendly networking organizer</h2>
    <h4 style= "color: white;"> <a href="/newContact">Add contact</a> to your Smartnet contact list.</h4>
    <h4 style= "color: white;"> Check the <a href="/about">About</a> page to meet the team!</h4>
  </div>
</div>
